//Lord Vader Hates Fluffy Animals
//Link Visited Hover Focus Active

* {
    font-family: 'Noto Sans';
}

// My Colors
$purple: #734190;
$purple-dark: #460A67;
$purple-light: #B798C7;
$purple-lighter: #ebd9f4;
$honey: #FED23B;
$honey-dark: #EFBB0B;
$honey-darker: #d6a600;
$wax: #FDF5BF;
$wax-dark: #F7EE7F;
$yellow-pastel: #F8FA6B;

$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;


// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default Bootstrap variable overrides
$navbar-dark-color: white;
$navbar-dark-toggler-border-color: none;


// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";


// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// My Other Styles

h1, h2, h3 {
    font-family: 'Aref Ruqaa';
    font-weight: 700;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

p {
    font-size: 1.3rem;
}

.my-container {
    padding: 0 25px 0 25px;
}

.cover {
    object-fit: cover;
}

.purple-heading {
    font-size: 3rem;
    color: $purple-dark;
    margin-bottom: 2rem;
    border-bottom: 4px solid $purple-light;
    display: inline-block;
    padding-bottom: 1.5rem;
}


// NAVBAR
#navContain {
    padding: 0;
}

.nav-white {
    box-shadow: 0px 3px 15px rgba($color: white, $alpha: .5);

}

nav {
    background-color: $purple;
    box-shadow: 0px 3px 15px rgba($color: $purple, $alpha: .5);
    div {
        ul {
            list-style-type: none;
            text-align: center;
            padding: 0;
            margin: 0;
            li {
                width: 100%;
                &:active {
                    color: black;
                }
                a {
                    font-size: 1.2rem;
                    display: flex;
                    width: 100vw;
                    height: 96px;
                    text-decoration: none;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        background-color: $purple-lighter;
                        color: black;
                        border-bottom: 4px solid $purple-dark;
                    }
                    &:focus-visible {
                        outline: 3px solid $purple-lighter;
                    }
                    &:active {
                        color: black;
                    }
                }
            }
        }
    }
}

.navbar {
    padding: 0;
}

.navbar-toggler {  
    &:focus {
      // The box-shadow overrides the default outline around the navbar toggler when clicked on
      box-shadow: none;
      border: 1px solid white;
    }
    margin-right: .7rem;
    margin-left: .7rem;
  }
  
.navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }

  #logo {
    background-color: white;
    padding: .5rem .7rem;
    img {
    height: 80px;
    }
  }






// HERO
#hero-intro {
    background-image: url(../images/header-back.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

#hero-intro-words {
    height: calc(80vh - 96px);
    padding: 4rem 3rem;
    text-align: center;
    color: white;
    h1 {
        font-size: 2.2rem;
        line-height: 50px;
        margin-bottom: 1.4rem;
    }
}

.button-regular {
    text-decoration: none;
    color: black;
    background-color: $honey;
    padding: 1rem 2.3rem;
    border-radius: 7px;
    border: 1px solid $purple-dark;
    box-shadow: 1px 1px 2px black;
    font-size: 1.3rem;
    &:hover {
        background-color: $honey-darker;
        color: black;
        padding: 1.05rem 2.35rem;
        font-size: 1.35rem;
        transition: all .2s ease;
    }
}


// CAROUSEL
#quiltCarousel {
    padding: 0;
}

.carousel-item {
    img {
    width: 100%;
    object-fit: cover;
    height: calc(80vh - 96px);
    }
}

.carousel-control-next {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,.6));
    &:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,.8));
    }
}

.carousel-control-prev {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0,0,0,.6));
    &:hover {
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0,0,0,.8));
    }
}

.carousel-caption {
    h5 {
        text-shadow: 1px 1px 4px black;
        font-size: 1.25rem;
        font-weight: bolder;
    }
}

.carousel .carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
 }



//HOME CONTENT
#home-main {
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-align: center;
    p {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}



//FOOTER
footer {
    background-color: $purple-dark;
    color: white;
    padding: 2rem 0 1rem 0;

    .footer-contact {
        color: $wax;
        &:visited {
            color: $wax;
        }
    }

    a {
        color: $honey;
        &:visited {
            color: $honey;
        }
    }

    i {
        font-size: 3rem;
        color: $honey;
    }
    
    img {
        border-radius: 10px;
    }
}




//ABOUT
#about {
    h1 {
        text-align: center;
    }

    img {
        border-radius: 10px;
    }
}

.about-section {
    margin-bottom: 4rem;
}

#about-list {
    padding-left: 48px;
    font-size: 1.3rem;
}




// CONTACT 
label {
    font-size: 1.3rem;
    display: block;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: .8rem 1rem;
    border-radius: 10px;
    border-width: 2px;
    border-style: outset;
    border-color: $purple;
    background-color: mix($color1: white, $color2: $purple-lighter, $weight: 75);
    &:focus {
        outline-color: $purple;
        background-color: mix($color1: white, $color2: $purple-lighter, $weight: 25);
    }
}

textarea {
    height: 200px;
}

#contact-contact {
    margin-top: 2rem;
    margin-bottom: 6rem;
    p {
        font-size: 1.5rem;
        a {
            font-size: 1.5rem;
        }
    }
}

#contact-page {
    img {
        border-radius: 10px;
        margin-top: 2rem;
    }
}




// PRIVACY POLICY
#privacy {
    font-size: 1.3rem;
    margin-bottom: 6rem;
    ol, ul {
        padding-left: 4rem;
    }

    .privacy-section {
        margin-bottom: 3rem;
    }
}



// SERVICES AND PRICING
.service-section {
    margin-bottom: 5rem;
    h2 {
        margin-bottom: 1.3rem;
    }
}

.service-price {
    background-color: $purple-lighter;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid $purple-dark;
    border-radius: 10px;
    font-weight: bold;
}




// GALLERY








// Breakpoints

  // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #logo {
        padding: .5rem 1rem;
    }

    #hero-intro-words {
        h1 {
            font-size: 3rem;
            line-height: 1.4;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #hero-intro-words {
        height: calc(100vh - 96px);
        padding: 5rem 3rem;

        h1 {
            font-size: 2.2rem;
        }
    }

    #featuredQuilts {
        height: calc(100vh - 96px);
    }

    .carousel-item {
        img {
        height: calc(100vh - 96px);
        }
    }

    #about {
        h1 {
            text-align: left;
        }
    }

    #contact-page {
        img {
            margin-top: 0;
            width: 100%;
        }
         h1 {
            margin: auto;
         }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    nav {
        div {
            ul {
                :nth-child(2) {
                    a {
                        width: 12rem;
                    }
                }
                li {
                    a {
                        width: 7rem;
                    }
                }
            }
        }
    }

    #hero-intro-words {
        h1 {
            font-size: 3rem;
            line-height: 1.4;
        }
    }

    #contact-page {        
        textarea {
            height: 163px;
        }
    }

    #contact-contact {
        margin-top: 1.7rem;
        margin-bottom: 4rem;
    }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}